$fa-font-path: '~@fortawesome/fontawesome-pro/webfonts'; 
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/regular';

$border-color: #969391;
$border-radius: 4px;
$label-color: #000;

.paymentjs-form {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    line-height: 18.4px;

    .paymentjs-form-input-box {
        width: 490px;

        .paymentjs-form-input-box {
            width: 490px;

            .paymentjs-form-input { 
                width: 450px;

                .paymentjs-form-input-label {
                    width: 450px;
                }
        
                .paymentjs-form-input-wrapper {
                    width: 450px;
                }
            }
        }
    }

    .paymentjs-form-number-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 50px;
        width: 490px;
        background-color: white;
        border-radius: 2px;

        input {
            border: none;
            height: 28px;
            width: 245px;

            &:focus {
                outline: none;
            }
        }

        .paymentjs-card {
            height: 50px;
            width: 52px;
            padding-left: 10px;

            .paymentjs-type {
                display: none;
                margin-top: 15px; 
            }

            .paymentjs-cardIcon {
                margin-top: 15px;
                margin-left: 3px;

                i {
                    font-size: 18px;
                }
            }
        }
    }

    .paymentjs-type {
        width: 37px;
        height: 22px;
        padding-top: 2px;
        
        &.visa {
            background: url(~payment-icons/min/flat/visa.svg);
            background-size: 33px 20px;
            background-repeat: no-repeat;
        }

        &.mastercard {
            background: url(~payment-icons/min/flat/mastercard.svg);
            background-size: 33px 20px;
            background-repeat: no-repeat;
        }
    }

    .paymentjs-form-cvv-input {
        margin-top: 5px;
    }

    .paymentjs-form-second-row {
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 490px;

        .paymentjs-form-input-box {
            width: 245px;

            .paymentjs-form-input { 
                width: 191px;

                .paymentjs-form-input-label {
                    width: 191px;
                }
        
                .paymentjs-form-input-wrapper {
                    width: 191px;
                }
            }
        }
    }

    .paymentjs-form-input-box {
        display: flex;
        flex-direction: row;
        height: 50px;
       
        &.name {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border: 1px solid $border-color;
        }

        &.cardnumber {
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }

        &.bottom-left {
            border-bottom-left-radius: $border-radius;
            border-bottom: 1px solid $border-color;
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
        }

        &.bottom-right {
            border-bottom-right-radius: $border-radius;
            border-bottom: 1px solid $border-color;
            border-right: 1px solid $border-color;
        }
    
        .paymentjs-form-input-icon {
            height: 50px;
            width: 52px;

            padding-top: 15px;
            padding-left: 15px;

            i {
                font-size: 18px;
            }
        }
    
        .paymentjs-form-input {
            display: flex;
            flex-direction: column;
            height: 50px;
    
            .paymentjs-form-input-label {
                height: 20px;
                font-size: 12px;
                padding-top: 10px;
                padding-left: 2px;
                color: $label-color;
                line-height: 13.8px;
            }
    
            .paymentjs-form-input-wrapper {
                height: 30px;
            }
    
        }
    }

    .paymentjs-available-cards {
        margin-top: 14px;
        display: flex;
        flex-direction: row;

        .paymentjs-type {
            margin-right: 6px;
        }
    }

    .paymentjs-form-input-wrapper {
        input {
            border: none;
            outline: none;
            font-size: 16px;
            margin-top: 5px;
        }
    }
}

* { box-sizing: border-box; }

